{% extends 'base.html' %}
{% block title %}Homepage{% endblock %}

{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='stylehome.css') }}">
<script src="{{ url_for('static', filename='slide.js') }}"></script>
{% endblock %}

{% block content %}
          <section id= "welcome-section">
            <h1>Welcome to the PawClubs!</h1>
            <P> Your Dog Is in Safe Hands</p>
          </section>
          
          <!-- slideshow container -->
        <div class="slideshow-container">
        <div class="mySlides fade" style="display:block">
          <div class="numbertext">1 / 3</div>
          <img src="{{ url_for('static', filename='image/doggo10.jpg') }}" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext">2 / 3</div>
          <img src="{{ url_for('static', filename='image/doggo9.jpg') }}" style="width:100%">
        </div>
      
        <div class="mySlides fade">
          <div class="numbertext">3 / 3</div>
          <img src="{{ url_for('static', filename='image/doggo8.jpg') }}" style="width:100%">
        </div>
      
        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
      <br>
          <section id= "services">
              <h1>PawClubs aims to create a safe & fun environment for all the community members including our fluffy buddies by offering in-house dogsitters and services such as dog trianings & dog events</h1>
              <div class="tiles">
                <div class="service-tiles">
                  <a href="https://en.pawshake.de/home-dog-boarding"target="_blank">
        <img id="image-decoration" src="{{ url_for('static', filename='image/doggo4.jpg') }}" class="responsive">
                  <div>Dog Sitting</div>
                  </a>
                </div>
                <div class="service-tiles">
                  <a href="https://barkpost.com/life/bring-dogs-to-summer-events/" target="_blank">
         <img id="image-decoration" src="{{ url_for('static', filename='image/doggo3.jpg') }}" class="responsive">
                    <div>Dog Events</div>
                  </a>
                </div>
                <div class="service-tiles">
                  <a href="https://www.good-dog-berlin.de/" target="_blank">
         <img id="image-decoration" src="{{ url_for('static', filename='image/doggo2.jpg') }}" class="responsive">
                    <div>Dog Training</div>
                  </a>
                </div>
              </section>
              <nav id="navbar">
                    <a href="#welcome-section">About us</a>
                    <a href="#services">Services</a>
                    <a href="#profile">Contact</a>
                         </nav> 
              <section id="profile">
                <h1>CONTACT US</h1>
                <div class="container">
        <form method="post" action="/???">
          <label for="fname">First Name</label>
          <input type="text" id="fname" name="firstname" placeholder="Your name..">
      
          <label for="lname">Last Name</label>
          <input type="text" id="lname" name="lastname" placeholder="Your last name..">
      
          <label for="subject">Feedback</label>
          <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      
          <input type="submit" value="Submit">
        </form>
      </div>
                <footer>
                  <h1>Pawclubs @ 2019 All Rights Reserved</h1>
                </footer>
            
                  {% endblock %}