{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" action='/login'> 
<div class='bold-line'></div>
<div class='container'>
  <div class='window'>
    <div class='overlay'></div>
    <div class='content'>
      <div class='welcome'>Hello There!</div>
      <div class='input-fields'>
        <input type='text' name='username' placeholder='Username' class='input-line full-width'></input>
        <input type='email' name='email' placeholder='Email' class='input-line full-width'></input>
        <input type='password' name ='password' placeholder='Password' class='input-line full-width'></input>

      </div>
      <div><input type='submit' value="Login" class='ghost-round full-width'></input></div>
    </div>
  </div>
</div>
</form>
{% endblock %}