{% extends 'base.html' %}
{% block title %}Registration{% endblock %}

{% block header%}
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}

  <form method="post" action='/register'>
  <div class='container'>
    <div class='window'>
      <div class='overlay'></div>
      <div class='content'>
        <div class='welcome'>Welcome!</div>
        <div class='subtitle'>Please fill in this form to create an account.</div>
        <div class='input-fields-reg'>
          <input type='text' name= 'name' placeholder='Name' class='input-line full-width'></input>
          <input type='email' name= 'email' placeholder='E-mail' class='input-line full-width'></input>
          <input type='text' name='username' placeholder='Username' class='input-line full-width'></input>
          <input type='password' name='password' placeholder='Password' class='input-line full-width'></input>
          <input type='password' name='repeatpassword' placeholder='Repeat Password' class='input-line full-width'></input>
        </div>
        <div><input type="submit" value="Register Now!"class='Regbtn full-width'></input></div>
        <div class="question">
          <p>Already have an account? <a href="/login">Log In</a></p>
        </div>
      </div>
    </div>
  </div>
  </form>
  {{error}}
{% endblock %}